.wrap{
    display: flex;
}
.item{
    
}
.hidden{
    display: none;
}
.active{
    display: block;
}


.menu{
    display: flex;
}
.m-item{
    list-style: none;
    text-align: center;
    padding: 15px 30px;
    background: rgb(245, 200, 200);
    margin: 10px;
}
.m-item:hover{
    background: #c97373;